.content {
    display: none; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.cities {
  display: none;
}

.delete-modal {
  display: none; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.sort{
  cursor: pointer;

}

.sort:hover {
  background-color: rgba(0,0,0,0.1);
}
